body {
	padding-top: 70px;
}

.course-textarea {
	resize: vertical; 
	min-height: 100px;
}

.chapter-textarea {
	resize: vertical;
	min-height: 400px;
}

.clear {
	clear:both;
}

.button-group {
	font-size: 20px;
    margin-top: 10px;
}

.submit-form-button-wrapper {
	margin: 0 auto;
	float: none;
}